p {
    color: ghostwhite;
}
.jumbotron {
    margin:auto;
    height: 50%;
    width:75%;
    background-color: #4CAF50;
    color: ghostwhite;
    padding-left: 10px;
}
a p {
    text-decoration: underline;
    color: #0D47A1;
}
.jumbotron p {
    text-align: justify;
}
